@keyframes breathe {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); 
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
  }
  100% {
    transform: scale(1);
  }
}

.skills { 
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  
  h1 {
    grid-column: 1 / -1;
  }
  
  .frontend {
    grid-column: 1 / -1;
  }
  .frontend, .programing, .devtools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 12px;
    padding: .5rem;
    gap: .5rem;
    background: rgba(0, 0, 0, .35); 

    .wrapper {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
  }

  .icons {
    width: 1.4rem;
    height: 1.4rem;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.2);
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
    }
  }
  
  .wrapper > .dropdown {
    display: flex;
    position: inherit;
    flex-basis: 50%;
    align-self: flex-end;
    top: 10%;
    left: -20%;
    padding: .4rem;
    border-radius: 2px;
    background-color: rgba($color: #FFF, $alpha: 0.3);

    &::before {
      position: absolute;
      content: '';
      width: 20%;
      height: 25%;
      top: -11%;
      left: 50%;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      background-color: rgba($color: #FFF, $alpha: 0.3);
      transform: translate(-50%, -50%);
    }
  }

  .dropdown {
    animation: all 3s ease-in-out;
  }

  .linuxIconBreathe {
    animation: breathe 3s ease-in-out infinite;
  }
  .linuxIconSticky {
    animation: none;
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
  }
}
@media (min-width: 1024px) {
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h1 {
      order: -2;
      flex: 1 1 100%;
    }
    .icons {
      width: 2.4rem;
      height: 2.4rem;
    }
    .programing {
      flex: 1 1 30%;
    }
    .frontend {
      order: -1;
      flex: 1 1 30%;
    }
    .devtools {
      flex: 1 1 30%;
    }
  }
}