@keyframes fadeInBackground {
  from {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  to {
    opacity: 1;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
}
@keyframes fadeOutBackground {
  from {
    opacity: 1;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  to {
    opacity: 0;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(40px);
  }
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  .closeBtn {
    position: absolute;
    width: 2rem;
    top: 1rem;
    right: 1rem;
    opacity: .5;
    cursor: pointer;
  }

  &.fadeInBackground {
    animation: fadeInBackground 0.4s ease-out forwards;
  }
  &.fadeOutBackground {
    animation: fadeOutBackground 0.4s ease-out forwards;
  }

  .certImg, .normalModal {
    position: inherit;
    min-height: 90%;
    background-size: contain;
    background-position: center;
    border-radius: 16px;
    z-index: 11;
    
    .transferIcon {
      width: 2rem;
      color: #FFF;
    }

    &.fadeIn {
      animation: fadeIn 0.4s ease-out forwards;
    }
    &.fadeOut {
      animation: fadeOut 0.4s ease-out forwards;
    }
  }

  .normalModal {
    display: flex;
    flex-direction: column;
    background-color: var(--modal-color);
    min-height: 60%;
    max-width: 60%;
    color: white;
    padding: 4rem;
    gap: 1rem;
    img {
      border-radius: 6px;
    }
  }
}
@media (max-width: 1024px) {
  .modalWrapper {
    .certImg, .normalModal {
      min-height: 0;
      width: 80%;
      max-width: 100%;
    }
    .normalModal {
      padding: 2rem;
      padding-top: 4rem;
    }
  }
}