
.home {
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  gap: 1rem;

  .customGrid {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
  
  h1, h2, p, a, li {
    transition: all 0.5s ease-in-out;
  }
  h1 > span {
    font-size: 2rem;
  }
  h1, h1 > a {
    font-size: 1rem;
  }
  h2 {
    font-size: .8rem;
  }
  p, p > a, li {
    font-size: .6rem;
  }
  li {
    margin-left: 1rem;
  }
  a {
    font-size: .4rem;
  }
  
  :global(.RGBCard) {

    // Defaul Design ...
    padding: 1rem;
    gap: 1rem;
    // ... Defaul Design
    
    position: relative;
    border-radius: 4px;
    color: white;
    background: linear-gradient(180deg,rgba(30,30,30,1) 0%,rgb(20,20,20,1) 100%);  

    // BorderAnimation
    &::after, &::before{
      content: '';
      position: absolute;
      background-image: conic-gradient(from var(--angle), #ff4545, #5a6ff9, #5a6ff9, #f6fd49, #f6fd49, #ff4545);
      inset: -1px;
      border-radius: 4px;
      z-index: -1;
      animation: 3s spin linear infinite;
    }
    &:hover {
      &::before {
        transition: .7s ease-out;
        inset: -3px;
        filter: blur(1.5rem);
        opacity: 0.5;
      }
    }
    @keyframes spin{
      from {
        --angle: 0deg;
      }
      to {
        --angle: 360deg;
      }
    }
  }
}
@media (min-width: 1024px) {
  .home{
    h1 > span {
      font-size: 3.4rem;
    }
    h1, h1 > a {
      font-size: 2.4rem;
    }
    h2 {
      font-size: 2rem;
    }
    p, p > a, a, li {
      font-size: 1.2rem;
    } 
    li {
      margin-left: 1.4rem;
    }
    padding: 2rem;
    gap: 2rem;
    .customGrid {
      gap: 2rem;
    }
    :global(.RGBCard) {
      padding: 2rem;
    }
  }
}
@media (max-width: 670px) {
  .home {
    grid-template-columns: 1fr;
  }
}
