
.home {
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  gap: 1rem;

  .customGrid {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
  
  :global(.RGBCard) {
    position: relative;
    border-radius: 4px;
    color: white;
    background: linear-gradient(180deg,rgba(30,30,30,1) 0%,rgb(20,20,20,1) 100%);  

    // BorderAnimation
    &::after, &::before{
      content: '';
      position: absolute;
      background-image: conic-gradient(from var(--angle), #ff4545, #5a6ff9, #5a6ff9, #f6fd49, #f6fd49, #ff4545);
      inset: -1px;
      border-radius: 4px;
      z-index: -1;
      animation: 3s spin linear infinite;
    }
    &:hover {
      &::before {
        transition: .7s ease-out;
        inset: -3px;
        filter: blur(1.5rem);
        opacity: 0.5;
      }
    }
    @keyframes spin{
      from {
        --angle: 0deg;
      }
      to {
        --angle: 360deg;
      }
    }
  }
}
@media (max-width: 1024px) {
  .home{
    
  }
}
