.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: .4rem;
  
  h1 {
    font-size: 1rem;
  }
  a {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #FFF;
    font-size: .4rem;

    svg {
      width: 1rem;
    }
  }
}