.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  a {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #FFF;

    svg {
      width: 1rem;
    }
  }
}