.rbduck {
  grid-column: 2;
  display: flex;
  flex-direction: column;

  .point {
    position: relative;
    margin-left: .5rem;
    // margin-top: 8px;
    // margin-bottom: 8px;
    &::before {
      position: absolute;
      content: '•';
      left: -.5rem;
    }
  }
}