.rbduck {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: .4rem;

  h1 {
    font-size: 1rem;
  }
  p {
    font-size: .6rem;
  }

  .point {
    position: relative;
    margin-left: .5rem;
    // margin-top: 8px;
    // margin-bottom: 8px;
    &::before {
      position: absolute;
      content: '•';
      left: -.5rem;
    }
  }
}